@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  
  --color-dark-walnut: #4B2E05;
  --color-warm-beige: #F5EFE6;
  --color-charcoal-gray: #2E2E2E;
  --color-accent-gold: #C89F65;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  color: var(--color-charcoal-gray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
